header {
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    position: sticky;
    padding: 1rem;
    top: 1rem;
    justify-content: space-evenly;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
}


@media screen and (max-width: 699px) {
    header {
        width: 100vw;
        margin: 0 auto;
        top: 0;
        gap: 1;
        border-radius: 0;
    }

    nav {
        border: 2px solid red;
        justify-content: space-between;
    }

    ul {
        border: 2px solid green;
        gap: 1rem;
    }

    li {
        border: 2px solid yellow;
    }
}