header {
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(10px);
    margin: auto;
    position: sticky;
    border-radius: 2rem;
    top: 1rem;
    width: 75%;
    padding: 1rem 0;
}

li .link{
    /* border: 2px solid yellow; */
    padding: 0 .5rem;
}

@media screen and (max-width: 799px) {
    header {
        top: 0;
        width: 100%;
        /* border: 2px solid red; */
        border-radius: 0;
        font-size: 1.1rem;
    }

    nav {
        /* border: 2px solid red; */
        padding: 0;
    }

    ul {
        /* border: 2px solid green; */
        /* gap: 1rem; */
    }

    
}